[project]
	description = resume - mvc practice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sleepingarmy
[access "refs/for/refs/*"]
	read = group user/sleepingarmy
	push = group user/sleepingarmy
	label-Code-Review = -2..+2 group user/sleepingarmy
	label-Verified = -1..+1 group user/sleepingarmy
	rebase = group user/sleepingarmy
	removeReviewer = group user/sleepingarmy
	submit = group user/sleepingarmy
[access "refs/heads/*"]
	read = group user/sleepingarmy
	create = group user/sleepingarmy
	push = +force group user/sleepingarmy
	pushMerge = group user/sleepingarmy
[access "refs/tags/*"]
	push = +force group user/sleepingarmy
	pushTag = group user/sleepingarmy
	pushSignedTag = group user/sleepingarmy
