<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--google font-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <!--google font-->
</head>

<body>
  <section class='content'>

    <div class='heading'>
      <h1>About Me</h1>
    </div>

    <p>As a current student at DevPoint Labs, I'm in the middle of learning web development utilizing ruby on rails.  I love coding, TV, sewing, and cats.</p>
    
  </section>
</body>
</html>